name: Build and Release CalcPlusPlus

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    name: Build and Upload .deb to GitHub Release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: 6.6.3

      - name: Build project
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release

      - name: Package .deb
        run: |
          cpack -G DEB -B build

      - name: Upload .deb to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/*.deb
          token: ${{ secrets.GH_PAT_FOR_RELEASES }}
          overwrite: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT_FOR_RELEASES }}
